*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
}
body{
  background: hsla(223, 37%, 22%, 1);
}
a{
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232f4d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #283577;
  border-radius: 50px;
  transition: 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(230, 50%, 35%);
}